<launch>

  <!-- BEGIN ROBOT 1-->
  <!-- <group ns="robot1"> -->
  <!-- <arg name="name" />
  <group ns="$(arg name)"> -->
    <node name="modbus_read_values_publisher" pkg="tm_utils" type="modbus_read_values_publisher.py" output="screen" />
      <!-- <param name="ip_address" value="168.3.201.123" />
      <param name="port" value="7171" /> -->
      <arg name="ip" />
      <param name="ip_address" value="$(arg ip)" />
      <param name="port" value="502" />
  <!-- </group> -->


</launch>
